/*Default values*/
/*The less css the better*/
.body-container {
	margin: auto;
	max-width:640px;
	min-height: calc(100vh - 120px);
}
header{
	text-align: center;
	margin: auto;
	max-width: 640px;
}
footer {
	max-width: 100%;
	text-align: center;
	padding: 0 10px;
}

#profile_pic {
	width: 40%;
	max-width: 40vh;
	border-radius: 150px;
}
.headlinks li {
	display: inline-block;
	width: 30%;
}
.footlinks li {
	margin: auto;
	padding: 0.5em;
	display: inline-block;
}
